@model IEnumerable<Skill>

<h2>Skills</h2>

<div style="display: block">
    <a href="/Skill/InsertSkill/">Create a New Product</a>
</div>

<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    @foreach (var skill in Model)
    {
        <tr>
            <td><a href=/Skill/ViewSkill/@skill.ID>@skill.Name</a></td>
        </tr>
    }

</table>